<section class="about-section" id="about">
    <div class="about-content">
        <div class="about-left">
            <img src="assets/interior6.jpg" alt="About Us" class="about-image" />
        </div>
        <div class="about-right">
            <h2>At Muskoka’s Handyman, we believe that a strong foundation both in our work and values will naturally
                lead to a quality service.</h2>
            <p>
                Rooted in honesty, reliability, and quality craftsmanship. Whether it’s a
                small job or a property makeover, we handle everything both interior and exterior. Together let’s build
                something great!
            </p>
            <div class="icons">
                <div class="icon-item"><mat-icon>build</mat-icon> <span>Honesty</span></div>
                <div class="icon-item"><mat-icon>construction</mat-icon> <span>Reliability</span></div>
                <div class="icon-item"><mat-icon>workspace_premium</mat-icon> <span>Quality</span></div>
            </div>
            <button mat-button class="btn-primary book-btn">See Our Work</button>

        </div>
    </div>
</section>