
<app-header></app-header>
<section id="hero"><app-hero></app-hero></section>
<section id="services"><app-services></app-services></section>
<!-- <section id="expertise"><app-expertise></app-expertise></section> -->
<section id="reviews"><app-reviews></app-reviews></section>

<!-- <section id="people"><app-our-people></app-our-people></section> -->
<section id="expertise"><app-expertise></app-expertise></section>

<section id="booking"><app-booking></app-booking></section>
<section id="about"><app-about></app-about></section>

<!-- 
<section id="footer"><app-footer></app-footer></section> -->